mixin attribute(attr, value, tag)
    - value = value ? value : ''
    - tag = tag ? tag : 'div'
    <#{tag} _#{attr}="#{value}">
        block
    </#{tag}> <!-- #{attr} end -->

mixin _container(value)
    +attribute('container', value)
        block

mixin _row
    +attribute('row')
        block

mixin _col(value)
    +attribute('col')
        block