<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Bubblegum</title>

    <link rel="stylesheet" href="css/bubblegum.css">

    <link rel="icon" type="image/png" href="favicon.png"/>
</head>
<body>
<div _row _justify="center">
    <header _col="12" _font="center" _margin="y-5">
        <img src="logo.png" _responsive="" style="max-width: 900px" alt="Logo bubblegum">
    </header>
    <section _col="10">
        <div _row="">
            <div _col="">
                <h1 _font="center upper primary" _margin="y-5">Bubblegum documentation</h1>
                <h5 _font="muted center">Version: {{ version }}</h5>
            </div>
            <div _bg="primary" _col="4" _padding="3" _round>
                <h3 _font="underline">Sommaire:</h3>
                <ol _font="white">
                    {% for section, l in logic %}
                        <li>
                            <a _decoration="none" _font="white lg" href="#{{ section }}">{{ section | upper }}</a>
                            <ul>
                                {% for cat, attrs in l %}
                                    <li>
                                        <a _decoration="none" _font="white md"
                                           href="#{{ section ~ '_' ~ cat }}">{{ cat | upper }}</a>
                                        <ul>
                                            {% for attr, values in attrs %}
                                                {% if attr == '_' %}
                                                    {% set attr = '_' ~ cat %}
                                                {% else %}
                                                    {% set attr = '_' ~ attr %}
                                                {% endif %}
                                                <li>
                                                    <a _decoration="none" _font="white sm"
                                                       href="#{{ section ~ '_' ~ cat ~ attr }}">{{ attr }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </section>
    {% for section, l in logic %}
        <section _col="10" _margin="t-5">
            <h2 id="{{ section }}" _font="primary upper">{{ section }}</h2>
            {% for cat, attrs in l %}
                <h3 id="{{ section ~ '_' ~ cat }}">{{ cat | upper }}</h3>
                {% if attrs.tag %}
                    {% set tag = attrs.tag %}
                {% else %}
                    {% set tag = 'div' %}
                {% endif %}
                {% for attr, values in attrs %}
                    {% if attr != 'tag' %}
                        {% if attr == '_' %}
                            {% set attr = '_' ~ cat %}
                        {% else %}
                            {% set attr = '_' ~ attr %}
                        {% endif %}
                        <h5 id="{{ section ~ '_' ~ cat ~ attr }}" _margin="b-0 t-3">{{ attr }}:</h5>
                        <pre><code class="language-html">{% for value in values %}{{ '<' ~ tag ~ ' ' ~ attr }}{% if value != '' %}{{ '="' ~ value ~ '"' }}{% endif %}
{{ '></' ~ tag ~ '>' }}
{% endfor %}</code></pre>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if loop.last != true %}
                <hr _margin="y-5">
            {% endif %}
            {# {% include "parts/" ~ section ~ ".twig" %} #}
        </section>
    {% endfor %}
</div>

<script src="js/prism.js"></script>
</body>
</html>