include variables

doctype
html
    head
        title #{title}
        meta(name='description'  content=description)
        meta(charset='UTF-8')
        block headers
            link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bubblegum-css@1.1.2/dist/bubblegum.min.css')
            link(rel='stylesheet' href='css/main.css')
            link(rel='shortcut icon' href='https://cdn.jsdelivr.net/npm/bubblegum-css@1.1.2/favicon.png' type='image/x-icon')
    body
        #navbar-rule
        #navbar
            div(_container='')
                div(_row='' _width='100')
                    div(_col='12 lg:4' _font='center lg:left').nav-part
                        a(href='index.html')#brand
                            img(src='https://cdn.jsdelivr.net/npm/bubblegum-css@1.1.2/favicon.png')
                            | ubblegum
                    div(_col='12 lg:8').nav-part
                        ul(_width='100' _row _direction='column md:row' _justify='center lg:end' _content='center')#links
                            each link, name in navbar
                                if active_page === link
                                    li(_font='center lg:right').active: a(href=link)=name
                                else
                                    li(_font='center lg:right'): a(href=link)=name
                            li.btn-started: a(href='documentation.html') Get started



        block content

        script(src='js/main.dev.js')
        script(src='https://cdn.jsdelivr.net/npm/bubblegum-css@1.1.2/dist/bubblegum.min.js')
        footer(_container='')
            div(_row='' _justify='center')
                div(_col='10')
                    ul#bottom-links
                        li: a(href='https://github.com/antharuu/BubbleGum' target='_blank') Github
                        li: a(href='https://www.npmjs.com/package/bubblegum-css' target='_blank') Npm
                        li: a(href='https://twitter.com/Antharuu' target='_blank') Twitter
                        li: a(href='about.html' target='_blank') About
                    p#credits Designed and created by Anthony Bellancourt, with <a href='https://stylus-lang.com/' target='_blank'>stylus</a>.
                    p#licence Currently v#{version_long}. Licence <a target='_blank' href='https://github.com/antharuu/BubbleGum/blob/main/LICENSE'>MIT</a>.